[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/m-asaadi
[access "refs/for/refs/*"]
	read = group user/m-asaadi
	push = group user/m-asaadi
	label-Code-Review = -2..+2 group user/m-asaadi
	label-Verified = -1..+1 group user/m-asaadi
	rebase = group user/m-asaadi
	removeReviewer = group user/m-asaadi
	submit = group user/m-asaadi
[access "refs/heads/*"]
	read = group user/m-asaadi
	create = group user/m-asaadi
	push = +force group user/m-asaadi
	pushMerge = group user/m-asaadi
[access "refs/tags/*"]
	push = group user/m-asaadi
	push = +force group user/m-asaadi
[receive]
	requireChangeId = true
	requireSignedOffBy = true
